.AttendeeDetailView {

    .card {
        margin: 32px;
    }

    .recording {
        color: red;
    }
    video {
        border-radius: 8px;
        width: 300px;
        height: 200px;
        background-color: #eee;
    }
}